@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Thông tin Member</h2>
<p>Member Id : @Model.MemberId</p>
<p>UserName : @Model.UserName</p>
<p>Password : @Model.Password</p>
<p>FullName : @Model.FullName</p>
<p>Email : @Model.Email</p>


