@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GetListMember";
}
<h2>Danh sách thành viên </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Member Id</th>
            <th>FullName</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ListMember)
        {
            <tr>
                <td>@item.MemberId</td>
                <td>@item.FullName</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>